In [ ]:
import pandas as pd
from scipy import stats
from statsmodels.stats import weightstats as stests

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
from google.colab import drive

drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
df = pd.read_csv("drive/My Drive/bq-results-20210811-200813-lpffg3wuk59k/bq-results-20210811-200813-lpffg3wuk59k.csv")
df.tail()

               experiment treatment_group  sales
11923454  Marketing Offer       treatment   9600
11923455  Marketing Offer       treatment   9600
11923456  Marketing Offer       treatment   9600
11923457  Marketing Offer       treatment   9600
11923458  Marketing Offer       treatment   9600

In [ ]:
df.shape

(11923459, 3)

In [ ]:
data_treatment = df[df['treatment_group']=='treatment']['sales'].reset_index(drop=True)
data_control = df[df['treatment_group']=='control']['sales'].reset_index(drop=True)
data_control

new_df = pd.DataFrame({'sales_control':data_control, 'sales_treatment':data_treatment})
new_df

         sales_control  sales_treatment
0                19200           9600.0
1                19200           9600.0
2                19200           9600.0
3                19200           9600.0
4                19200           9600.0
...                ...              ...
7262682           9600              NaN
7262683           9600              NaN
7262684           9600              NaN
7262685           9600              NaN
7262686           9600              NaN

[7262687 rows x 2 columns]

In [ ]:
new_df['sales_treatment'].fillna(value=new_df['sales_treatment'].mean(), inplace=True)
new_df

         sales_control  sales_treatment
0                19200      9600.000000
1                19200      9600.000000
2                19200      9600.000000
3                19200      9600.000000
4                19200      9600.000000
...                ...              ...
7262682           9600     12192.989144
7262683           9600     12192.989144
7262684           9600     12192.989144
7262685           9600     12192.989144
7262686           9600     12192.989144

[7262687 rows x 2 columns]

In [ ]:
ttest,pval = stats.ttest_rel(new_df['sales_control'], new_df['sales_treatment'])
print(pval)

0.0

In [ ]:
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

reject null hypothesis

Based on the results of pval generate reject null hypothesis that means Free delivery subscription fee on 9.9 campaign does not impact sales is not true so the hypothesis is Free delivery subscription fee on 9.9 campaign make impacts sales

In [ ]:
import io
from scipy.stats import chi2_contingency, chisquare

In [ ]:
pvalue = chi2_contingency(new_df)[1]
pvalue

0.0

In [ ]:
if pvalue<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

reject null hypothesis

In [ ]:
import statistics
print("Standard Deviation of sample is % s "
                % (statistics.stdev(new_df['sales_control'])))

Standard Deviation of sample is 5944.905025982112

In [ ]:
import statistics
print("Standard Deviation of sample is % s "
                % (statistics.stdev(new_df['sales_treatment'])))

Standard Deviation of sample is 4966.878815542065

In [ ]:
chisquare = chi2_contingency(new_df)[0]
dof = chi2_contingency(new_df)[2]

In [ ]:
print(chisquare)
print(pvalue)
print(dof)

10812308643.44894
0.0
7262686